/* ==================================================================================================================== */
/*    COLOURS                                                                                                  */
/* ==================================================================================================================== */

$dm-white: #e8eced;
/* dm-main-navigation*/

//$nav-bg-white: #e8eced;
$nav-bg-white: #f7f7f7;
$nav-text: #5f6f81;
$nav-text-gray: #c1c9d1;
$nav-border: #c6d0da;
$nav-blue-1: #5993cd;


$slider-bg-1: #36435C;
$slider-bg-2: #002b36;
$slider-bg-3: #222524;


/* ==================================================================================================================== */
/*    VARIABLES                                                                                                  */
/* ==================================================================================================================== */

/* dm-main-navigation*/


//menu-main-size:
$nav-size: 60px;